---
---

@import "minimal-light";

/* Define CSS Variables for Theme Colors */
body {
  --background-color: #ffffff;
  --text-color: #000000;
  --link-color: #0B94DE;
  --strong-color: #0B94DE;
  transition: background-color 0.5s ease, color 0.5s ease;
  font-family: 'Roboto', sans-serif;
}

/* Dark Mode Overrides */
body.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
  --link-color: #0B94DE;
  --strong-color: #0B94DE;
}

/* Apply Variables to Elements */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  transition: color 0.5s ease;
  color: var(--text-color);
  font-family: 'Open Sans', sans-serif;
}

ul, ol {
  transition: color 0.5s ease;
  color: var(--text-color);
}

ul li, ol li {
  transition: color 0.5s ease;
  color: var(--text-color);
}

/* Strong Text with Theme-based Color */
strong {
  transition: color 0.5s ease;
  color: var(--strong-color);
}

/* Link Colors with Smooth Transition */
a {
  transition: color 0.5s ease;
  color: var(--link-color);
}

/* Dark Mode Toggle Button */
#theme-toggle i {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s, transform 0.2s;
}

body.light-mode #theme-toggle i {
  color: #333;
}

body.dark-mode #theme-toggle i {
  color: #bb86fc;
}

/* Optional Hover Effect */
#theme-toggle:hover i {
  transform: scale(1.2);
}
